* text=auto !eol
mpsa/development/celllist/i386/etc/MakeLinks.tcl -text
mpsa/development/celllist/i386/etc/MakeSymbols -text
mpsa/development/celllist/src/Makefile -text
mpsa/development/celllist/src/celllist_Command.c -text
mpsa/development/celllist/src/celllist_Init.c -text
mpsa/development/celllist/src/celllist_Ops.c -text
mpsa/development/celllist/src/celllist_export.h -text
mpsa/development/cloud+/i386/etc/MakeLinks.tcl -text
mpsa/development/cloud+/i386/etc/MakeSymbols -text
mpsa/development/cloud+/src/Makefile -text
mpsa/development/cloud+/src/cloud_Command.c -text
mpsa/development/cloud+/src/cloud_Init.c -text
mpsa/development/cloud+/src/cloud_Ops.c -text
mpsa/development/cloud+/src/cloud_export.h -text
mpsa/development/diagnostic/i386/etc/MakeLinks.tcl -text
mpsa/development/diagnostic/i386/etc/MakeSymbols -text
mpsa/development/diagnostic/src/Makefile -text
mpsa/development/diagnostic/src/diagnostic_Command.c -text
mpsa/development/diagnostic/src/diagnostic_Init.c -text
mpsa/development/diagnostic/src/diagnostic_export.h -text
mpsa/development/pairlist/i386/etc/MakeLinks.tcl -text
mpsa/development/pairlist/i386/etc/MakeSymbols -text
mpsa/development/pairlist/src/Makefile -text
mpsa/development/pairlist/src/pairlist_Command.c -text
mpsa/development/pairlist/src/pairlist_Init.c -text
mpsa/development/pairlist/src/pairlist_Ops.c -text
mpsa/development/pairlist/src/pairlist_export.h -text
mpsa/development/tpp/i386/etc/MakeLinks.tcl -text
mpsa/development/tpp/i386/etc/MakeSymbols -text
mpsa/development/tpp/src/Makefile -text
mpsa/development/tpp/src/tpp_Commands.c -text
mpsa/development/tpp/src/tpp_HashOps.c -text
mpsa/development/tpp/src/tpp_Init.c -text
mpsa/development/tpp/src/tpp_Ops.c -text
mpsa/development/tpp/src/tpp_export.h -text
mpsa/doc/roadmap -text
mpsa/example/commands.tcl -text
mpsa/example/initial/bulge -text
mpsa/example/initial/clouds -text
mpsa/example/initial/disk -text
mpsa/example/initial/halo -text
mpsa/lib/tcl/init.tcl -text
mpsa/lib/tcl/loader.tcl -text
mpsa/lib/tcl/saver.tcl -text
mpsa/lib/tcl/tclIndex -text
mpsa/makefiles/development/Makefile.i386 -text
mpsa/makefiles/development/Makefile.i386.Dev -text
mpsa/makefiles/stable/Makefile.i386 -text
mpsa/monolith/etc/LinkDev.tcl -text
mpsa/monolith/etc/MakeLinksDevel.tcl -text
mpsa/monolith/etc/MakeLinksStable.tcl -text
mpsa/monolith/init/development/mpsa_Init.c -text
mpsa/monolith/init/development/mpsa_InitDev.c -text
mpsa/monolith/init/stable/mpsa_Init.c -text
mpsa/stable/cloud/i386/etc/MakeLinks.tcl -text
mpsa/stable/cloud/i386/etc/MakeSymbols -text
mpsa/stable/cloud/src/Makefile -text
mpsa/stable/cloud/src/cloud_Command.c -text
mpsa/stable/cloud/src/cloud_Init.c -text
mpsa/stable/cloud/src/cloud_Ops.c -text
mpsa/stable/cloud/src/cloud_export.h -text
mpsa/stable/mpsa/doc/Definitions -text
mpsa/stable/mpsa/i386/etc/Init.tcl -text
mpsa/stable/mpsa/i386/etc/MakeLinks.tcl -text
mpsa/stable/mpsa/i386/etc/MakeSymbols -text
mpsa/stable/mpsa/lib/tcl/init.tcl -text
mpsa/stable/mpsa/lib/tcl/loader.tcl -text
mpsa/stable/mpsa/lib/tcl/saver.tcl -text
mpsa/stable/mpsa/lib/tcl/tclIndex -text
mpsa/stable/mpsa/lib/tcl/ziploader.tcl -text
mpsa/stable/mpsa/src/Makefile -text
mpsa/stable/mpsa/src/mpsa.c -text
mpsa/stable/mpsa/src/mpsa_Commands.c -text
mpsa/stable/mpsa/src/mpsa_DefnOps.c -text
mpsa/stable/mpsa/src/mpsa_FileCommands.c -text
mpsa/stable/mpsa/src/mpsa_FileOps.c -text
mpsa/stable/mpsa/src/mpsa_Init.c -text
mpsa/stable/mpsa/src/mpsa_Interface.c -text
mpsa/stable/mpsa/src/mpsa_ListCommand.c -text
mpsa/stable/mpsa/src/mpsa_ListCommands.c -text
mpsa/stable/mpsa/src/mpsa_ListOps.c -text
mpsa/stable/mpsa/src/mpsa_MovementCommands.c -text
mpsa/stable/mpsa/src/mpsa_MovementOps.c -text
mpsa/stable/mpsa/src/mpsa_Operator.c -text
mpsa/stable/mpsa/src/mpsa_Ops.c -text
mpsa/stable/mpsa/src/mpsa_ParticleCommand.c -text
mpsa/stable/mpsa/src/mpsa_ParticleCommands.c -text
mpsa/stable/mpsa/src/mpsa_ParticleExtract.c -text
mpsa/stable/mpsa/src/mpsa_ParticleOps.c -text
mpsa/stable/mpsa/src/mpsa_Random.c -text
mpsa/stable/mpsa/src/mpsa_SimCommand.c -text
mpsa/stable/mpsa/src/mpsa_SimulationOps.c -text
mpsa/stable/mpsa/src/mpsa_TclMain.c -text
mpsa/stable/mpsa/src/mpsa_TclUtils.c -text
mpsa/stable/mpsa/src/mpsa_export.h -text
mpsa/stable/mpsa/src/mpsa_private.h -text
mpsa/stable/quadtree/i386/etc/MakeLinks.tcl -text
mpsa/stable/quadtree/i386/etc/MakeSymbols -text
mpsa/stable/quadtree/src/Makefile -text
mpsa/stable/quadtree/src/quadtree_Commands.c -text
mpsa/stable/quadtree/src/quadtree_HashOps.c -text
mpsa/stable/quadtree/src/quadtree_Init.c -text
mpsa/stable/quadtree/src/quadtree_TreeOps.c -text
mpsa/stable/quadtree/src/quadtree_export.h -text
mpsa/stable/quadtree/src/quadtree_private.h -text
mpsa/stable/sf/i386/etc/MakeLinks.tcl -text
mpsa/stable/sf/i386/etc/MakeSymbols -text
mpsa/stable/sf/src/Makefile -text
mpsa/stable/sf/src/sf_Init.c -text
mpsa/stable/sf/src/sf_Ops.c -text
mpsa/stable/sf/src/sf_SFCommand.c -text
mpsa/stable/sf/src/sf_export.h -text
mpsa/stable/sn/i386/etc/MakeLinks.tcl -text
mpsa/stable/sn/i386/etc/MakeSymbols -text
mpsa/stable/sn/src/Makefile -text
mpsa/stable/sn/src/sn_Command.c -text
mpsa/stable/sn/src/sn_Init.c -text
mpsa/stable/sn/src/sn_Ops.c -text
mpsa/stable/sn/src/sn_export.h -text
mpsa/stable/tree/i386/etc/MakeLinks.tcl -text
mpsa/stable/tree/i386/etc/MakeSymbols -text
mpsa/stable/tree/src/Makefile -text
mpsa/stable/tree/src/tree_Commands.c -text
mpsa/stable/tree/src/tree_HashOps.c -text
mpsa/stable/tree/src/tree_Init.c -text
mpsa/stable/tree/src/tree_TreeOps.c -text
mpsa/stable/tree/src/tree_export.h -text
mpsa/stable/tree/src/tree_private.h -text
xia2-attic/Toolkit/KBScale.py -text
xia2-attic/Toolkit/MiniKappaCalibrate.py -text
xia2-attic/Toolkit/MultiMerger.py -text
xia2-attic/Toolkit/XDS2CBF.py -text
xia2-attic/Toolkit/byte_offset.cpp -text
xia2-attic/Toolkit/cbf_mini_to_full_with_template.py -text
xia2-attic/Toolkit/cbfdump.py -text
xia2-attic/Toolkit/find_HKL.py -text
xia2-attic/Toolkit/guess_the_atom.py -text
xia2-attic/Toolkit/x1335.py -text
xia2-attic/cftbx/__init__.py -text
xia2-attic/cftbx/coordinate_frame_converter.py -text
xia2-attic/cftbx/coordinate_frame_helpers.py -text
xia2-attic/cftbx/readme.txt -text
xia2-attic/cftbx/tests/example-mosflm.mat -text
xia2-attic/cftbx/tests/example-xparm.xds -text
xia2-attic/core/Data/Random/names.txt -text
xia2-attic/core/Data/Random/readme.txt -text
xia2-manual/xia2-in-a-nutshell/ccp4_html.cfg -text
xia2-manual/xia2-in-a-nutshell/compile_html.sh -text
xia2-manual/xia2-in-a-nutshell/diamond-background.png -text
xia2-manual/xia2-in-a-nutshell/figures/3qrn-all-complete-aimless.png -text
xia2-manual/xia2-in-a-nutshell/figures/3qrn-all-rmerge-aimless.png -text
xia2-manual/xia2-in-a-nutshell/figures/3qrn-all-rmerge.png -text
xia2-manual/xia2-in-a-nutshell/figures/3qrn-diffraction.png -text
xia2-manual/xia2-in-a-nutshell/figures/3qrn-sub-complete-aimless.png -text
xia2-manual/xia2-in-a-nutshell/figures/3qrn-sub-complete-aimless.ps -text
xia2-manual/xia2-in-a-nutshell/figures/3qrn-sub-rmerge-aimless.png -text
xia2-manual/xia2-in-a-nutshell/figures/Ewald2Image.pdf -text
xia2-manual/xia2-in-a-nutshell/figures/Ewald3Image.pdf -text
xia2-manual/xia2-in-a-nutshell/figures/EwaldExplain.pdf -text
xia2-manual/xia2-in-a-nutshell/figures/blackbox.png -text
xia2-manual/xia2-in-a-nutshell/figures/bucket-of-images.jpg -text
xia2-manual/xia2-in-a-nutshell/figures/bucket.jpg -text
xia2-manual/xia2-in-a-nutshell/figures/callcentre.jpg -text
xia2-manual/xia2-in-a-nutshell/figures/christmas-tree-nothing-crystal.png -text
xia2-manual/xia2-in-a-nutshell/figures/christmas-tree-nothing-sweep.png -text
xia2-manual/xia2-in-a-nutshell/figures/christmas-tree-nothing-wavelength.png -text
xia2-manual/xia2-in-a-nutshell/figures/christmas-tree-nothing.png -text
xia2-manual/xia2-in-a-nutshell/figures/christmas-tree-with-crystal.png -text
xia2-manual/xia2-in-a-nutshell/figures/christmas-tree-with-sweeps.png -text
xia2-manual/xia2-in-a-nutshell/figures/christmas-tree-with-wavelength.png -text
xia2-manual/xia2-in-a-nutshell/figures/christmas-tree.png -text
xia2-manual/xia2-in-a-nutshell/figures/crystal-image.jpg -text
xia2-manual/xia2-in-a-nutshell/figures/edge-scan.jpg -text
xia2-manual/xia2-in-a-nutshell/figures/example-diffraction-image-small.jpg -text
xia2-manual/xia2-in-a-nutshell/figures/example-diffraction-image.jpg -text
xia2-manual/xia2-in-a-nutshell/figures/keyboard.jpg -text
xia2-manual/xia2-in-a-nutshell/figures/linux-in-a-nutshell.jpg -text
xia2-manual/xia2-in-a-nutshell/figures/mouse.jpg -text
xia2-manual/xia2-in-a-nutshell/figures/no-blackbox.png -text
xia2-manual/xia2-in-a-nutshell/figures/no-mouse.jpg -text
xia2-manual/xia2-in-a-nutshell/figures/no_images.pdf -text
xia2-manual/xia2-in-a-nutshell/figures/phi_spacing_45a.pdf -text
xia2-manual/xia2-in-a-nutshell/figures/phi_spacing_90a.pdf -text
xia2-manual/xia2-in-a-nutshell/figures/plat-13A-z4.pdf -text
xia2-manual/xia2-in-a-nutshell/figures/protk-completeness.png -text
xia2-manual/xia2-in-a-nutshell/figures/protk-image.jpg -text
xia2-manual/xia2-in-a-nutshell/figures/protk-rmerge-1.27.png -text
xia2-manual/xia2-in-a-nutshell/figures/protk-rmerge.png -text
xia2-manual/xia2-in-a-nutshell/figures/quartz.jpg -text
xia2-manual/xia2-in-a-nutshell/figures/resolution.svg -text
xia2-manual/xia2-in-a-nutshell/figures/scaling-step-1.pdf -text
xia2-manual/xia2-in-a-nutshell/figures/scaling-step-2.pdf -text
xia2-manual/xia2-in-a-nutshell/figures/scaling-step-3.pdf -text
xia2-manual/xia2-in-a-nutshell/figures/terminal.png -text
xia2-manual/xia2-in-a-nutshell/figures/two-s-one-w.png -text
xia2-manual/xia2-in-a-nutshell/figures/two-s-two-w.png -text
xia2-manual/xia2-in-a-nutshell/figures/two-sweeps-one-wavelength.svg -text
xia2-manual/xia2-in-a-nutshell/figures/two-sweeps-two-wavelengths.svg -text
xia2-manual/xia2-in-a-nutshell/figures/xia2-in-a-nutshell.jpg -text
xia2-manual/xia2-in-a-nutshell/figures/xia2html.png -text
xia2-manual/xia2-in-a-nutshell/figures/xinfo-structure.png -text
xia2-manual/xia2-in-a-nutshell/figures/xinfo-structure.svg -text
xia2-manual/xia2-in-a-nutshell/figures/xinfo.png -text
xia2-manual/xia2-in-a-nutshell/figures/xkcd_christmas_tree.png -text
xia2-manual/xia2-in-a-nutshell/manual.pdf -text
xia2-manual/xia2-in-a-nutshell/manual.tex -text
xia2-playpen/124_analysis_code.py -text
xia2-playpen/124_cc_reference.py -text
xia2-playpen/ExperimentSetup.py -text
xia2-playpen/HDR_join.py -text
xia2-playpen/MergeCBF.py -text
xia2-playpen/NextGeneration/design.txt -text
xia2-playpen/NextGeneration/dip.py -text
xia2-playpen/NextGeneration/index.py -text
xia2-playpen/NextGeneration/index_test.py -text
xia2-playpen/NextGeneration/integrate.py -text
xia2-playpen/NextGeneration/labelit.py -text
xia2-playpen/NextGeneration/mosflm.py -text
xia2-playpen/NextGeneration/processing_plugin.py -text
xia2-playpen/TestMinimise.py -text
xia2-playpen/__init__.py -text
xia2-playpen/aimless2gnuplot.py -text
xia2-playpen/analyse_scale_xfel.py -text
xia2-playpen/analyse_scale_xfel_properly.py -text
xia2-playpen/analyse_spot_xds.py -text
xia2-playpen/b_factors.py -text
xia2-playpen/bootstrap_scaling.py -text
xia2-playpen/cc.py -text
xia2-playpen/centring.py -text
xia2-playpen/compare_ub.py -text
xia2-playpen/correct_lp2p4p.py -text
xia2-playpen/densmap.py -text
xia2-playpen/empty_cbf.py -text
xia2-playpen/erzatz_symmetry.py -text
xia2-playpen/find_right_hand_op.py -text
xia2-playpen/gxparm.xds -text
xia2-playpen/hand.py -text
xia2-playpen/hist.py -text
xia2-playpen/lattice_play.py -text
xia2-playpen/mosflm_matrix_things.py -text
xia2-playpen/mosflm_rms.py -text
xia2-playpen/mtz2nxs.py -text
xia2-playpen/null.py -text
xia2-playpen/nwrite.c -text
xia2-playpen/ok_try_pairs_of_pairs.py -text
xia2-playpen/parse-integrate-scale-factors.py -text
xia2-playpen/plot.py -text
xia2-playpen/plot2.py -text
xia2-playpen/python_for_under_10s/README.txt -text
xia2-playpen/python_for_under_10s/command-prompt.png -text
xia2-playpen/python_for_under_10s/dragon-10.png -text
xia2-playpen/python_for_under_10s/dragon-4.png -text
xia2-playpen/python_for_under_10s/dragon-6.png -text
xia2-playpen/python_for_under_10s/dragon-8.png -text
xia2-playpen/python_for_under_10s/pfu10s.pdf -text
xia2-playpen/python_for_under_10s/pfu10s.tex -text
xia2-playpen/python_for_under_10s/programs/shapes.py -text
xia2-playpen/python_for_under_10s/programs/sqr.py -text
xia2-playpen/python_for_under_10s/programs/sqr_display.py -text
xia2-playpen/python_for_under_10s/programs/sqr_loop.py -text
xia2-playpen/python_for_under_10s/terminal.png -text
xia2-playpen/python_for_under_10s/turtle-001-loop-loop.png -text
xia2-playpen/python_for_under_10s/turtle-001-square.png -text
xia2-playpen/python_for_under_10s/turtle-fancy.png -text
xia2-playpen/rexinfo.py -text
xia2-playpen/rooster.py -text
xia2-playpen/rotomat.py -text
xia2-playpen/rumble.py -text
xia2-playpen/scala2gnuplot.py -text
xia2-playpen/scale-play.py -text
xia2-playpen/spot2q.py -text
xia2-playpen/superdoofus.py -text
xia2-playpen/test_scaling.py -text
xia2-playpen/test_scaling_new_hkl.py -text
xia2-playpen/test_sg.py -text
xia2-playpen/tst_map_to_asu_isym.py -text
xia2-playpen/unmerged_fa.py -text
xia2-playpen/ward_cluster.py -text
xia2-playpen/x1334.lp -text
xia2-playpen/x1334.py -text
xia2-playpen/x1335.lp -text
xia2-playpen/xfel/graeme/compare_against_reference_flex.py -text
xia2-playpen/xfel/graeme/compare_scale.py -text
xia2-playpen/xscale_2_hkl.py -text
xia2-talks/chef/12287/12287.pdf -text
xia2-talks/chef/12287/12287.ps -text
xia2-talks/chef/12287/completeness_infl.dat -text
xia2-talks/chef/12287/completeness_lrem.dat -text
xia2-talks/chef/12287/completeness_peak.dat -text
xia2-talks/chef/12287/rcp.dat -text
xia2-talks/chef/hpa/completeness.dat -text
xia2-talks/chef/hpa/hpa.pdf -text
xia2-talks/chef/hpa/hpa.ps -text
xia2-talks/chef/hpa/rcp.dat -text
xia2-talks/chef/thau/completeness.dat -text
xia2-talks/chef/thau/rcp.dat -text
xia2-talks/chef/thau/thau.pdf -text
xia2-talks/chef/thau/thau.ps -text
xia2-talks/papers/ccp4-sw/decisions_in_xia2.pdf -text svneol=unset#unset
xia2-talks/papers/ccp4-sw/decisions_in_xia2.tex -text
xia2-talks/papers/ccp4-sw/figures/Fig6.pdf -text
xia2-talks/papers/ccp4-sw/figures/no_images.pdf -text
xia2-talks/papers/ccp4-sw/figures/phi_spacing_45a.pdf -text
xia2-talks/papers/ccp4-sw/figures/scaling-step-1.pdf -text
xia2-talks/papers/ccp4-sw/figures/scaling-step-2.pdf -text
xia2-talks/papers/ccp4-sw/figures/scaling-step-3.pdf -text
xia2-talks/papers/ccp4-sw/figures/xds_n_wedges.pdf -text
xia2-talks/papers/ccp4-sw/iucr.bib -text
xia2-talks/papers/ccp4-sw/iucr.bst -text
xia2-talks/papers/ccp4-sw/iucr.cls -text
xia2-talks/papers/ccp4-sw/paper.tex -text
xia2-talks/papers/ccp4-sw/xia2references.bib -text
xia2-talks/talks/aca-chef/diamond-background.png -text
xia2-talks/talks/aca-chef/figures/2isb/comp.pdf -text
xia2-talks/talks/aca-chef/figures/2isb/comp.sh -text
xia2-talks/talks/aca-chef/figures/2isb/comp1.dat -text
xia2-talks/talks/aca-chef/figures/2isb/comp1d.dat -text
xia2-talks/talks/aca-chef/figures/2isb/comp2.dat -text
xia2-talks/talks/aca-chef/figures/2isb/comp2d.dat -text
xia2-talks/talks/aca-chef/figures/2isb/comp3.dat -text
xia2-talks/talks/aca-chef/figures/2isb/comp3d.dat -text
xia2-talks/talks/aca-chef/figures/2isb/rcp.dat -text
xia2-talks/talks/aca-chef/figures/2isb/rcp.sh -text
xia2-talks/talks/aca-chef/figures/2isb/rcp2.pdf -text
xia2-talks/talks/aca-chef/figures/2isb/rd.pdf -text
xia2-talks/talks/aca-chef/figures/2isb/rd.sh -text
xia2-talks/talks/aca-chef/figures/2isb/rd1.dat -text
xia2-talks/talks/aca-chef/figures/2isb/rd2.dat -text
xia2-talks/talks/aca-chef/figures/2isb/rd3.dat -text
xia2-talks/talks/aca-chef/figures/2isb/rmerge.pdf -text
xia2-talks/talks/aca-chef/figures/2isb/rmerge.sh -text
xia2-talks/talks/aca-chef/figures/2isb/rmerge1.dat -text
xia2-talks/talks/aca-chef/figures/2isb/rmerge2.dat -text
xia2-talks/talks/aca-chef/figures/2isb/rmerge3.dat -text
xia2-talks/talks/aca-chef/figures/fix.py -text
xia2-talks/talks/aca-chef/figures/gold/1800_cc_ccweak.dat -text
xia2-talks/talks/aca-chef/figures/gold/1800_completeness.dat -text
xia2-talks/talks/aca-chef/figures/gold/1800_corr.dat -text
xia2-talks/talks/aca-chef/figures/gold/1800_rcp.dat -text
xia2-talks/talks/aca-chef/figures/gold/1800_rcp2.pdf -text
xia2-talks/talks/aca-chef/figures/gold/1800_rd.dat -text
xia2-talks/talks/aca-chef/figures/gold/1800_rd.pdf -text
xia2-talks/talks/aca-chef/figures/gold/1800_rmerge.dat -text
xia2-talks/talks/aca-chef/figures/gold/1800_rmerge.pdf -text
xia2-talks/talks/aca-chef/figures/gold/1800_shelxd_cc.dat -text
xia2-talks/talks/aca-chef/figures/gold/1800_shelxd_cc_a.dat -text
xia2-talks/talks/aca-chef/figures/gold/1800_summary.txt -text
xia2-talks/talks/aca-chef/figures/gold/900_cc_ccweak.dat -text
xia2-talks/talks/aca-chef/figures/gold/900_corr.dat -text
xia2-talks/talks/aca-chef/figures/gold/900_shelxd_cc.dat -text
xia2-talks/talks/aca-chef/figures/gold/900_shelxd_cc_a.dat -text
xia2-talks/talks/aca-chef/figures/gold/900_summary.txt -text
xia2-talks/talks/aca-chef/figures/gold/cc_ccweak.pdf -text
xia2-talks/talks/aca-chef/figures/gold/cc_ccweak.sh -text
xia2-talks/talks/aca-chef/figures/gold/cc_over_30.dat -text
xia2-talks/talks/aca-chef/figures/gold/cc_over_30_2.8A.dat -text
xia2-talks/talks/aca-chef/figures/gold/pia.png -text
xia2-talks/talks/aca-chef/figures/gold/rcp.sh -text
xia2-talks/talks/aca-chef/figures/gold/rd.sh -text
xia2-talks/talks/aca-chef/figures/gold/rmerge.sh -text
xia2-talks/talks/aca-chef/figures/gold/shelxd_cc_a.pdf -text
xia2-talks/talks/aca-chef/figures/gold/shelxd_cc_a.sh -text
xia2-talks/talks/aca-chef/figures/hpa/comp.dat -text
xia2-talks/talks/aca-chef/figures/hpa/comp.pdf -text
xia2-talks/talks/aca-chef/figures/hpa/comp.sh -text
xia2-talks/talks/aca-chef/figures/hpa/harker.pdf -text
xia2-talks/talks/aca-chef/figures/hpa/patterson_height.dat -text
xia2-talks/talks/aca-chef/figures/hpa/patterson_height.pdf -text
xia2-talks/talks/aca-chef/figures/hpa/patterson_height.sh -text
xia2-talks/talks/aca-chef/figures/hpa/rcp.dat -text
xia2-talks/talks/aca-chef/figures/hpa/rcp.sh -text
xia2-talks/talks/aca-chef/figures/hpa/rcp2.pdf -text
xia2-talks/talks/aca-chef/figures/hpa/rd.dat -text
xia2-talks/talks/aca-chef/figures/hpa/rd.pdf -text
xia2-talks/talks/aca-chef/figures/hpa/rd.sh -text
xia2-talks/talks/aca-chef/figures/hpa/rmerge.dat -text
xia2-talks/talks/aca-chef/figures/hpa/rmerge.pdf -text
xia2-talks/talks/aca-chef/figures/hpa/rmerge.sh -text
xia2-talks/talks/aca-chef/figures/simple2/comp.dat -text
xia2-talks/talks/aca-chef/figures/simple2/comp.pdf -text
xia2-talks/talks/aca-chef/figures/simple2/comp.sh -text
xia2-talks/talks/aca-chef/figures/simple2/rcp.pdf -text
xia2-talks/talks/aca-chef/figures/simple2/rcp.sh -text
xia2-talks/talks/aca-chef/figures/simple2/rcp2.pdf -text
xia2-talks/talks/aca-chef/figures/simple2/rd.dat -text
xia2-talks/talks/aca-chef/figures/simple2/rd.pdf -text
xia2-talks/talks/aca-chef/figures/simple2/rd.sh -text
xia2-talks/talks/aca-chef/figures/simple2/rmerge.dat -text
xia2-talks/talks/aca-chef/figures/simple2/rmerge.pdf -text
xia2-talks/talks/aca-chef/figures/simple2/rmerge.sh -text
xia2-talks/talks/aca-chef/presentation.pdf -text
xia2-talks/talks/aca-chef/presentation.tex -text
xia2-talks/talks/aca-chef/xia2tex.py -text
xia2-talks/talks/ccp4-dev-2012-xia2-pipelines/L1.pdf -text
xia2-talks/talks/ccp4-dev-2012-xia2-pipelines/L2.pdf -text
xia2-talks/talks/ccp4-dev-2012-xia2-pipelines/Rmerge.pdf -text
xia2-talks/talks/ccp4-dev-2012-xia2-pipelines/cluster1.pdf -text
xia2-talks/talks/ccp4-dev-2012-xia2-pipelines/diamond-background.png -text
xia2-talks/talks/ccp4-dev-2012-xia2-pipelines/presentation.pdf -text
xia2-talks/talks/ccp4-dev-2012-xia2-pipelines/presentation.tex -text
xia2-talks/talks/ccp4-sw-2012/beamercolorthemedls.sty -text
xia2-talks/talks/ccp4-sw-2012/diamond-background.png -text
xia2-talks/talks/ccp4-sw-2012/figures/3qrn-all-complete-aimless.png -text
xia2-talks/talks/ccp4-sw-2012/figures/3qrn-all-rmerge-aimless.png -text
xia2-talks/talks/ccp4-sw-2012/figures/3qrn-all-rmerge.png -text
xia2-talks/talks/ccp4-sw-2012/figures/3qrn-diffraction.png -text
xia2-talks/talks/ccp4-sw-2012/figures/3qrn-sub-complete-aimless.png -text
xia2-talks/talks/ccp4-sw-2012/figures/3qrn-sub-complete-aimless.ps -text
xia2-talks/talks/ccp4-sw-2012/figures/3qrn-sub-rmerge-aimless.png -text
xia2-talks/talks/ccp4-sw-2012/figures/Ewald2Image.pdf -text
xia2-talks/talks/ccp4-sw-2012/figures/Ewald3Image.pdf -text
xia2-talks/talks/ccp4-sw-2012/figures/EwaldExplain.pdf -text
xia2-talks/talks/ccp4-sw-2012/figures/blackbox.png -text
xia2-talks/talks/ccp4-sw-2012/figures/bucket-of-images.jpg -text
xia2-talks/talks/ccp4-sw-2012/figures/bucket.jpg -text
xia2-talks/talks/ccp4-sw-2012/figures/callcentre.jpg -text
xia2-talks/talks/ccp4-sw-2012/figures/christmas-tree-nothing-crystal.png -text
xia2-talks/talks/ccp4-sw-2012/figures/christmas-tree-nothing-sweep.png -text
xia2-talks/talks/ccp4-sw-2012/figures/christmas-tree-nothing-wavelength.png -text
xia2-talks/talks/ccp4-sw-2012/figures/christmas-tree-nothing.png -text
xia2-talks/talks/ccp4-sw-2012/figures/christmas-tree-with-crystal.png -text
xia2-talks/talks/ccp4-sw-2012/figures/christmas-tree-with-sweeps.png -text
xia2-talks/talks/ccp4-sw-2012/figures/christmas-tree-with-wavelength.png -text
xia2-talks/talks/ccp4-sw-2012/figures/christmas-tree.png -text
xia2-talks/talks/ccp4-sw-2012/figures/crystal-image.jpg -text
xia2-talks/talks/ccp4-sw-2012/figures/edge-scan.jpg -text
xia2-talks/talks/ccp4-sw-2012/figures/example-diffraction-image-small.jpg -text
xia2-talks/talks/ccp4-sw-2012/figures/example-diffraction-image.jpg -text
xia2-talks/talks/ccp4-sw-2012/figures/keyboard.jpg -text
xia2-talks/talks/ccp4-sw-2012/figures/linux-in-a-nutshell.jpg -text
xia2-talks/talks/ccp4-sw-2012/figures/mouse.jpg -text
xia2-talks/talks/ccp4-sw-2012/figures/no-blackbox.png -text
xia2-talks/talks/ccp4-sw-2012/figures/no-mouse.jpg -text
xia2-talks/talks/ccp4-sw-2012/figures/no_images.pdf -text
xia2-talks/talks/ccp4-sw-2012/figures/phi_spacing_45a.pdf -text
xia2-talks/talks/ccp4-sw-2012/figures/phi_spacing_90a.pdf -text
xia2-talks/talks/ccp4-sw-2012/figures/plat-13A-z4.pdf -text
xia2-talks/talks/ccp4-sw-2012/figures/protk-completeness.png -text
xia2-talks/talks/ccp4-sw-2012/figures/protk-image.jpg -text
xia2-talks/talks/ccp4-sw-2012/figures/protk-rmerge-1.27.png -text
xia2-talks/talks/ccp4-sw-2012/figures/protk-rmerge.png -text
xia2-talks/talks/ccp4-sw-2012/figures/quartz.jpg -text
xia2-talks/talks/ccp4-sw-2012/figures/resolution.svg -text
xia2-talks/talks/ccp4-sw-2012/figures/scaling-step-1.pdf -text
xia2-talks/talks/ccp4-sw-2012/figures/scaling-step-2.pdf -text
xia2-talks/talks/ccp4-sw-2012/figures/scaling-step-3.pdf -text
xia2-talks/talks/ccp4-sw-2012/figures/terminal.png -text
xia2-talks/talks/ccp4-sw-2012/figures/two-s-one-w.png -text
xia2-talks/talks/ccp4-sw-2012/figures/two-s-two-w.png -text
xia2-talks/talks/ccp4-sw-2012/figures/two-sweeps-one-wavelength.svg -text
xia2-talks/talks/ccp4-sw-2012/figures/two-sweeps-two-wavelengths.svg -text
xia2-talks/talks/ccp4-sw-2012/figures/xia2-in-a-nutshell.jpg -text
xia2-talks/talks/ccp4-sw-2012/figures/xinfo-structure.png -text
xia2-talks/talks/ccp4-sw-2012/figures/xinfo-structure.svg -text
xia2-talks/talks/ccp4-sw-2012/figures/xinfo.png -text
xia2-talks/talks/ccp4-sw-2012/figures/xkcd_christmas_tree.png -text
xia2-talks/talks/ccp4-sw-2012/presentation.pdf -text
xia2-talks/talks/ccp4-sw-2012/presentation.tex -text
xia2-talks/talks/hms-novel-uses-xia2/diamond-background.png -text
xia2-talks/talks/hms-novel-uses-xia2/dimple-diagram.pdf -text
xia2-talks/talks/hms-novel-uses-xia2/fast-dp-diagram.pdf -text
xia2-talks/talks/hms-novel-uses-xia2/pia.png -text
xia2-talks/talks/hms-novel-uses-xia2/presentation-xia2.pdf -text
xia2-talks/talks/hms-novel-uses-xia2/presentation-xia2.tex -text
xia2-talks/talks/strubi-early-2012/beamercolorthemedls.sty -text
xia2-talks/talks/strubi-early-2012/diamond-background.png -text
xia2-talks/talks/strubi-early-2012/figures/cc_d.pdf -text
xia2-talks/talks/strubi-early-2012/figures/insulin.pdf -text
xia2-talks/talks/strubi-early-2012/figures/kamel.pdf -text
xia2-talks/talks/strubi-early-2012/figures/thaumatin.pdf -text
xia2-talks/talks/strubi-early-2012/presentation.pdf -text
xia2-talks/talks/strubi-early-2012/presentation.tex -text
